/* See Soon - Coming Soon/Under Construction Responsive Template
Author: EGrappler.com
Tags: Dark, coming soon, under construction, black, one column
*/

body{
	background:#202020;
	color:#fff;
	font:18px/28px 'Raleway', sans-serif;
	font-weight:300;
}

/* General  */

a, a:hover, a:focus{
	color:#fff;
}
a:hover{
}
a:focus{
	outline:none;
}
h1, h2, h3, h4, h5, h6{
	font-family:'Coustard', sans-serif;
	margin:0;
	padding:0;
	font-weight:300;
}
h1{
	font-size:72px;
}
h2{
	font-size:40px;
}
h3{
	font-size:36px;
}
h4{
	font-size:30px;
}
h5{
	font-size:24px;
}
h6{
	font-size:18px;
}


/*.loader {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:9999;
	background:#000 url(../images/loader.gif) 50% 50% no-repeat;
}*/

/* Header  */

#header{
	background: url(../images/flowful_coming_soon_image.jpg) no-repeat;
	background-size: cover;
}
	.header-overlay{
		background:rgba(0, 0, 0, 0.6);
		padding:30px 0 90px;		
	}
	 
.hexagon {
  position: relative;
  /*width: 70px; 
  height: 40.41px;
  background-color: #05c3f9 ;*/
  margin: 35px auto 60px;
  /*box-shadow: 0 0 10px rgba(0,0,0,0.35);*/
  text-align: center;
}

.hexagon h1{

	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	color: rgb(67,167,134);
	margin-top: 15px;
  font-weight: 500;
}

/*.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 49.50px;
  height: 49.50px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 10.2513px;
  box-shadow: 0 0 10px rgba(0,0,0,0.35);
}

.hexagon:before {
  top: -24.7487px;
}

.hexagon:after {
  bottom: -24.7487px;
}*/

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:70px;
  height:40.4145px;
  z-index: 2;
  background: inherit;
}

	.logo{
		text-align:center;
		padding:30px 0;
		background:#05c3f9;
		width:12%;
		margin:0 auto;
	}
.hexagon i { font-size: 50px;
color: #fff;
position: absolute;
left: 35%;
z-index: 10;
top: -13%; }
	#header .main-head h2, #header .main-head h4{
		font-weight:300;
	}
	#header .main-head h4{
		line-height:40px;
	}
@media (max-width: 600px){
	.hexagon h1 {
		font-size: 36px;
	}
	.hexagon{
		margin-bottom: 30px;
	}
	#header .main-head h2{
		font-size: 24px;
		font-family: arial;
		line-height: 30px;
		}
	#header .main-head p{
		font-size: 18px;
		line-height: 30px;
	}
	.form-group {
    padding: 10px 0px 10px !important;
	}
	#mc-embedded-subscribe-form .btn-info {
    padding: 15px 30px !important;
	}
	section h2 {
    font-size: 30px;
	}
	section p{
		font-size: 16px; 
	}
	#how-it-works img{
		width: 90%;
	}
}
/* Countdown  */	
	
	#countdown-area{
		
		padding:40px 0;
		margin:0 0 40px;
	}
		ul.countdown{
			list-style:none;
			margin:0;
			padding:0;
			display:block;
			text-align:center;
		}
			ul.countdown li{
				display:inline-block;
				margin:0 20px;
				padding:0;
			}
				ul.countdown li span{
					font-family:'Coustard', sans-serif;
					width:100px;
					display:block;
					font-size:48px;
				}
			ul.countdown li.seperator{
				font-size:80px;
				line-height:70px;
				vertical-align:top;
			}
				ul.countdown li p{
					color: rgba(255,255,255,0.5);
					font-size: 18px;
					text-transform:capitalize;
					margin:0;
					padding:15px 0 30px 0;
				}
				

/* Main Heading Style Starts */

	.main-head{
		text-align:center;
		padding:0 0 15px;
	}
		.main-head h2, .main-head p{
		}
		.main-head h2{
			padding:0 0 20px;
		}
		.main-head p{
			font-size:24px;
			line-height:36px;
			margin-top: 15px;
		}
		

/* about */

#about{
}
.sblock{border:1px solid transparent; -webkit-transition: all 0.5s ease;
					   -moz-transition: all 0.5s ease;
					     -o-transition: all 0.5s ease;
					       }
.sblock:hover { border:1px solid rgba(55,200,134, 0.3);; background:rgba(55,200,134, 0.3); }

/*#about p { font-size:16px; color: rgb(67,167,134); }
#about h2, #about h5{ color: rgb(67,167,134);}*/
#about h5 {font-family: 'Raleway', sans-serif;}
	#about-blocks{
	}
		#about-blocks div{
			text-align:center;
			padding:20px 20px 30px 20px;
		}
			#about-blocks div span.fa{
				
				width:110px;
				height:110px;
				line-height:110px;
				font-size:60px;
				
				color:rgba(255,255,255,1);
				-webkit-border-radius:50%;
				   -moz-border-radius:50%;
						border-radius:50%;
			}
			#about-blocks h4{
				padding:20px 0;
				color: rgb(67,167,134);
			}
.dark-section h5{
 	text-align: center; margin-bottom: 20px;
 }
/* Light and dark content sections */

.dark-section, #footer{

	background-color: rgb(67,167,134);
}

.dark-section h2, .dark-section h5, .dark-section p{
	color: white;
}

.light-section{

	background-color: white;
}

.light-section h2, .light-section h5, .light-section p{
	color: rgb(67,167,134);
}

section p{
		font-weight: 500;
    padding: 10px 0px;
}

section{
	padding: 80px 0px;
}
/* how it works */

#how-it-works{
}
.sblock{border:1px solid transparent; -webkit-transition: all 0.5s ease;
					   -moz-transition: all 0.5s ease;
					     -o-transition: all 0.5s ease;
					       }
#how-it-works p { font-size:16px; color: rgb(67,167,134); }
#how-it-works h2, #how-it-works h5{ color: rgb(67,167,134);}
#how-it-works h5 {font-family: 'Raleway', sans-serif;}
	#how-it-works-blocks{
	}
		#how-it-works-blocks div{
			text-align:center;
			padding:20px 20px 30px 20px;
		}
			#how-it-works-blocks div span.fa{
				
				width:110px;
				height:110px;
				line-height:110px;
				font-size:60px;
				
				color:rgba(255,255,255,1);
				-webkit-border-radius:50%;
				   -moz-border-radius:50%;
						border-radius:50%;
			}
			#how-it-works-blocks h4{
				padding:20px 0;
				color: rgb(67,167,134);
			}

/* What I Learned */
#results .fa {
    font-size: 24px;
    margin-right: 20px;
    vertical-align: text-top;
    display: inline-block;
    color: #FFFF66;
}

#what-i-learned h5 {
    font-family: 'Raleway', sans-serif;
    margin-top: 25px;
    margin-bottom: 20px;
}
/* Contact  */

input { border: 1px solid #fff !important; -webkit-box-shadow: none !important;
box-shadow: none !important; }
.light-section{
}	
.MT40 { margin-top:40px;}
#contact p { font-size:16px;}
	#mc_embed_signup{
	}
		#mc_embed_signup h3{
			padding:0 0 38px 0;
		}
		#mc-embedded-subscribe-form{
		}
			#mc-embedded-subscribe-form .form-group{
				margin:0 0 20px;
			}
				#mc-embedded-subscribe-form .form-control{
					
					font-size:16px;
					font-weight:400;
					-webkit-border-radius:5px;
					   -moz-border-radius:5px;
					        border-radius:5px;
					
				}
				#mc-embedded-subscribe-form .form-control:focus{
					border-color:#fff;
				}
				#mc-embedded-subscribe-form input.form-control{
					height:40px;
					line-height:40px !important;
			    padding: 25px 20px;
			    max-width: 90%;
			    margin: 0 auto;
				}

				#mc-embedded-subscribe-form .btn-info{
					color: white;
			    background-color: rgb(67,167,134);
			    padding: 15px 80px;
			    font-size: 18px;
			    border: 1px solid rgb(67,167,134) !important; 
				}
				
				#mc-embedded-subscribe-form .btn-info:hover{
					background-color: rgba(250,250,250,.8);
					color: rgb(67,167,134);
				}
				input{

					color: rgba(0,0,0,.8);
				}
				
.form-group {
    padding: 30px 0px 20px;
}

/* Footer  */

#footer{
	padding:10px 0;
	/*margin-top:40px;*/
	font-size:13px;
	text-align:center;
	background-color: rgb(67,167,134);
	color: white;
}

#footer p {margin:10px; }
	
	
	/* Responsive */
	
	
		
/* Contact Style Starts */

	#contact h3, .address, #mc-embedded-subscribe-form .form-group{
		text-align:center;
	}
	#mc_embed_signup{
		padding-bottom:20px;
	}
	
}



@media (max-width: 767px) {

/* Countdown Style Starts */

	ul.countdown li{
		display:inline-block;
		margin:5px;
		padding:0;
	}
		ul.countdown li span{
			width:100px;
			height:100px;
			display:block;
			font-size:48px;
			font-weight:300;
			line-height:100px;
			border:2px solid #fff;
			-webkit-border-radius:50%;
			   -moz-border-radius:50%;
					border-radius:50%;
		}
		ul.countdown li p{
			padding:15px 0;
		}

/* Contact Style Starts */

	#contact h3, .address, #mc-embedded-subscribe-form .form-group{
		text-align:center;
	}
	#mc_embed_signup{
		padding-bottom:20px;
	}

/* Footer Style Starts */

	#footer ul.sm-links li a span{
		width:45px;
		height:45px;
		line-height:42px;
		font-size:20px;
	}
	.copyright{
		font-size:16px;
	}
	
}